# Beispielkonfiguration für MongoDB-Zugang

# URI-Verbindungszeichenfolge (ohne Leerzeichen)
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/DATABASENAME

# Name der verwendeten Datenbank
MONGO_DB_NAME=wortfeld
